# To be edited ...

-----------


## CONDA ENVIRONMENT

* For the python option
* Name: era5t
* Activation: conda activate era5t
* Packages installation:

```code
conda create -n era5t python=3
conda activate era5t

conda config --env --add channels conda-forge
conda config --env --set channel_priority strict

conda install xarray dask netCDF4 bottleneck
conda install pymssql
pip install git+https://bitbucket.com/celsiuspro/pycputils
conda install -c mvdbeek multiprocessing-logging
conda install joblib
conda install jupyter
conda install cdsapi
conda install matplotlib

# the packages below are not installed (and are not strictly necessary)
conda install cdo
conda install python-cdo
conda install geopandas
conda install descartes
conda install -c oggm salem
conda install rasterio

```


## CONDA ENVIRONMENT


```code
conda create -n ghcn
conda activate ghcn

conda config --env --add channels conda-forge
conda config --env --set channel_priority strict

conda install pymssql
pip install git+https://bitbucket.com/celsiuspro/pycputils
conda install -c mvdbeek multiprocessing-logging
conda install joblib
conda install jupyter
conda install matplotlib
conda install flake8
conda install pyspark
```